.header {
  background-color: $dark;
  &.responsive-header{
    display: none;
  }
  .info {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;

    > * {
      padding: 0 1rem 0;
      margin: 0;
      position: relative;

      i {
        margin-#{$right}: 5px;
      }

      &:after {
        content: '';
        height: 70%;
        width: 1px;
        background-color: $fontColor;
        display: block;
        position: absolute;
        #{$right}: 0;
        top: 50%;
        @include translate(0, -50%);
      }

      &:nth-child(n+3) {
        margin: 0;

        &:after {
          display: none;
        }
      }
    }

    a {
      color: $fontColor;
    }
    .nav-toggler{
      display: none;
      width: 65px;
      a{
        width: 100%;
      }
    }
  }

  .lang {
    font-family: $langFont;
    background-color: transparent;
    //padding-#{$left}: .375rem;
    //padding-#{$right}: 0;
    //padding-top: 0;
    //padding-bottom: 0;
    color: $fontColor;
    height: auto;
    line-height: 0;

    &:hover {
      color: $fontColor;
    }
  }
}

.navbar {
  border-bottom: $inputClr 1px solid;
  justify-content: space-between;
  padding-right: 0;
  padding-left: 0;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-nav {
    .nav-link {
      color: #fff;
      text-transform: uppercase;

      &.active {
        color: $mainClr;
      }
    }
  }
}

footer {
  height: 54px;
  width: 100%;
  padding: 0 15px;
  background-color: $dark;
  color: #fff;
  text-align: center;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: #fff;
  }
}
