/*--------------------------------------------------------------------*/
@media only screen and (min-width: 1366px) {
/*--------------------------------------------------------------------*/
    .container {
        max-width: 1200px;
    }
}

/*--------------------------------------------------------------------*/
@media only screen and (min-width: 1600px) {
/*--------------------------------------------------------------------*/
    .container {
        max-width: 1400px;
    }
}

/*--------------------------------------------------------------------*/
@media only screen and (min-width: 1900px) {
/*--------------------------------------------------------------------*/
    .container {
        max-width: 1600px;
    }
}

/*-*************************************************************************************************-*/
/* only  microsoft browser */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
}
@supports (-ms-accelerator:true) {
}
/*-*************************************************************************************************-*/


// x-Large devices ( less than 1400px)
/*--------------------------------------------------------------------*/
@media only screen and (max-width: 1400px) {
/*--------------------------------------------------------------------*/
}

/*--------------------------------------------------------------------*/
@media only screen and (max-width: 1366px) {
/*--------------------------------------------------------------------*/
    .our-news-block{
        .news-bio{
            text-transform: none;
        }
    }
}

// Large devices (desktops, less than 1200px)
/*------------------------------------------------------------------*/
@media only screen and (max-width: 1199.98px) {
/*------------------------------------------------------------------*/
    .our-news-block{
        .news-img{
            width: calc(50% - 50px);
        }
    }
    .navbar{
        .navbar-nav{
            .nav-link{
                padding-right: .5rem;
                padding-left: .5rem;
            }
        }
    }
    .panels{
        .panel{
            &:before{
                background: rgba(0,0,0,0.6);
            }
        }
    }
    main {
        .about-list {
            li{
                flex:1 0 33.333%
            }
        }

    }
}

// Medium devices (tablets, less than 992px)
/*--------------------------------------------------------------------*/
@media only screen and (max-width: 991.98px) {
/*--------------------------------------------------------------------*/
    .side-nav {
        .close-nav{
            #{$right}:40px;
        }
    }
    .header{
        &.responsive-header{
            display: block;
        }
    }

    .home-header{
        display: none;
    }
    .content-wrapper{
        .scroll-pagination, .menu{
            display: none;
        }
    }

    .sec-title{
        font-size: 24px;
        span{
            font-size: 36px;
        }
    }
    .side-nav.open ul{
        width: calc(100% - 60px);
        li {
            margin-bottom: 15px;
            a{
                font-size: 18px;
            }
        }
    }
    .scroll-pagination{
        display: none;
    }
    .responsive-header{
        display: block;
    }
    .home-header{
        width:calc(100% - 50px);
        background-color: #000;
        left: 50px;
        right: 50px;
        .sec-header{
            padding: 35px 30px;
        }
        .changing-header{
            .slide{
                flex-wrap: wrap;
                .tabs-control{
                    width: 100%;
                    margin-#{$left}:0;
                    margin-top: 10px;
                    .nav-link{
                        padding: .25rem 0.75rem;
                    }
                }
            }
        }
    }
    .header {
        .info {
            .nav-toggler{
                display: block;
            }
        }
    }
    .navbar{
        .navbar-brand{
            margin-bottom: 15px;
        }
    }
    .panels{
        width:100%;
        .panel{
            &:after{
                content: "";
                background-color: $fontColor;
                width: calc(100% - 60px);
                height: 2px;
                display: block;
                position: absolute;
                left: 30px;
                right: 30px;
                bottom: 0;
                z-index: 2;
            }
            .responsive-sec-title{
                position: relative;
                width: 100%;
                margin-bottom: 25px;
                display: flex;
                flex-wrap: wrap;
                padding-left: 15px;
                >*{
                    width: 100%;
                    margin-bottom: 15px;
                    &:last-child{
                        margin: 0;
                    }
                }
                .section-title{
                    display: flex;
                    align-items: center;
                    //justify-content: center;
                    span{
                        font-size: $subTitleSize;
                        color: #fff;
                        margin-#{$right}: 20px;
                    }
                    p{
                        margin: 0;
                    }
                }
            }
            .content-position{
                width: calc(100% - 30px);
                left: 15px;
                right: 15px;
            }
            &:not(:first-child){
                padding: 60px 0;
                height: auto!important;
            }
            .carousel{
                height: 60vh;
                .carousel-inner{
                    .carousel-item{
                        &:before{
                            content: '';
                            position: absolute;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background:rgba(0,0,0,.8);
                            z-index: 1;
                        }
                        .carousel-caption{
                            max-width: 70%;
                        }
                    }
                }
                .carousel-indicators{
                    padding: 15px 0;
                    bottom: 0;
                    z-index: 2;
                }
            }
            .content-position{
                position: relative;
                top: auto;
                @include translate(0,0);
            }
        }
    }
    .info-style{
        max-width: 70%;
        article{
            max-height: 100px !important;
        }
    }
    .mr-50-per{
        margin-#{$right}: 40%;
    }
    main {
        .about-list {
            li{
                flex:1 0 50%
            }
        }

    }
}


// Small devices (landscape phones, less than 768px)
/*--------------------------------------------------------------------*/
@media only screen and (max-width: 767.98px) {
/*--------------------------------------------------------------------*/
    .sec-title {
        font-size: 20px;
        span{
            font-size: 30px;
        }
    }
    .btn{
        height: 40px;
        padding-#{$left}:20px;
        padding-#{$right}:20px;
        font-size: 14px;
        &.go{
            padding-#{$right}:40px;
            &:after{
                #{$right}:15px;
            }
            &:hover{
                &:after{
                    #{$right}:15px;
                }
            }
        }
    }
    .side-nav.open {
        ul {
            li {
                .search-input {
                    .form-control{
                        height: 40px;
                    }
                }
            }
        }
    }
    .mr-50-per{
        margin-#{$right}: 0%;
    }

    .panels{
        .panel {
            &:after{
                width: calc(100%  - 30px);
                left: 15px;
                right: 15px;
            }
            .carousel{
                .carousel-inner{
                    .carousel-item{
                        .carousel-caption{
                            max-width: 100%;
                            #{$left}:15px;
                            #{$right}:15px;
                        }
                    }
                }
                .carousel-indicators {
                    #{$left}:15px;
                    li{
                        width: 50px;
                    }
                }
            }
        }
    }
    .our-work-block, .events-block {
        .our-work-img, .events-img{
            padding-top: 50%;
        }
    }

    .our-work-block {
        .our-work-img{
            padding-top: 75%;
        }
    }
    .our-news-block{
        &:nth-child(even), &:nth-child(odd){
            padding-#{$right}:0;
            padding-#{$left}:0;
            flex-wrap: wrap;
            .news-bio{
                width: 100%;
                padding: 30px 20px;
            }
            .news-img{
                width: 100%;
                margin-#{$right}:0;
                margin-#{$left}:0;
                padding-top: 55%;
            }
        }
    }
    .navbar{
        .navbar-brand{
            margin: 0 auto;
        }
    }
    .tabs-control {
        .nav-item {
            a{
                font-size: 14px;
                text-transform: capitalize;
                padding: 0.5rem;
            }
        }
    }
    .txt {
        .columns {
            display: block;
            article{
                width: 100%;
            }
        }

    }
}


/*-*************************************************************************************************-*/
/*if section full screen*/
/*--------------------------------------------------------------------*/
@media only screen and (max-height: 900px) {
/*--------------------------------------------------------------------*/
}



/*--------------------------------------------------------------------*/
@media only screen and (max-height: 768px) {
/*--------------------------------------------------------------------*/
    .form-control{
        margin-bottom: 20px;
        height: 40px;
    }
    .btn{
        margin-top: 10px;
    }
    .home-header{
        .sec-header{
            padding: 35px 30px;
        }
    }
    .col-lg-6{
        .info-style{
            max-width: 100%;
            margin-bottom:35px;
            > * {
                margin-bottom: 20px;
            }
        }
    }
    .our-work-block, .events-block {
        .our-work-img, .events-img{
            padding-top: 50%;
        }
    }
    .our-work-block {
        .our-work-img{
            padding-top: 50%;
        }
    }

    .content-wrapper{
        .scroll-pagination{
            ul{
                li{
                    .indicator{
                        a{
                            padding: 10px 20px;
                            p{
                                line-height: 18px;
                            }
                        }
                    }
                }
            }
        }
    }

    .home-header{
        .sec-header{
            padding: 20px 30px;
        }
    }
    .panel{
        &:last-child{
            &:before{
                background: rgba(0, 0, 0, 0.6);
            }
            .content-position{
                .row{
                    display: block;
                    .col-lg-6 {
                        margin: 0;
                        float: $left;
                    }
                }
            }
        }
    }
}



/*--------------------------------------------------------------------*/
@media only screen and (max-height: 640px) {
/*--------------------------------------------------------------------*/
}



/*--------------------------------------------------------------------*/
@media only screen and (max-height: 600px) {
/*--------------------------------------------------------------------*/
    .panels{
        .panel{
            padding: 50px 0;
            &:not(:first-child){
                height: auto!important;
            }
            .content-position{
                position: relative;
                top: auto;
                @include translate(0,0);
            }
        }
    }
}
/*-*************************************************************************************************-*/




// Extra small devices (portrait phones, less than 576px)
/*----------------------------------------------------------------------*/
@media only screen and (max-width: 575.98px) {
/*--------------------------------------------------------------------*/
    .btn{
        height: 35px;
        padding-#{$left}:15px;
        padding-#{$right}:15px;
        font-size: 12px;
        &.go{
            padding-#{$right}:35px;
            &:after{
                #{$right}:10px;
            }
            &:hover{
                &:after{
                    #{$right}:10px;
                }
            }
        }
    }
    .side-nav.open {
        ul {
            li {
                .search-input {
                    .form-control{
                        height: 35px;
                    }
                }
            }
        }
    }

    .navbar {
        > div{
            width: 100%;
        }
    }
    .header {
        .info{
            position: relative;
            flex-wrap: wrap;
            >*{
                width: 100%;
                margin-bottom: 5px;
                padding: 0;
                &:after{
                    display: none;
                }
            }
            .nav-toggler{
                position: absolute;
                top: 50%;
                @include translate(0 , -50%);
                width: 40px;
            }
        }
        .lang{
            width: auto;
            margin-#{$right}: auto!important;
            line-height: initial;
        }
    }
    .page-title{
        padding: 0 10px;
    }
    .tabs-control {
        .nav-item {
            a{
                font-size: 13px;
                padding: 0.385rem;
            }
        }
    }
    footer{
        font-size: 12px;
    }
    .info-style {

        max-width: 100%;

    }
    main {
        .about-list {
            li{
                flex:1 0 100%
            }
        }

    }
}


/*----------------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
/*--------------------------------------------------------------------*/    

    
}



/*  Extra Small Devices, Phones
/*----------------------------------------------------------------------*/
@media only screen and (max-width: 360px) {
/*--------------------------------------------------------------------*/
}



