// colors
$mainClr:#FDCF08;
$black: #000;
$dark: #111;
$fontColor:#5F5F5F;
$borderClr:#171717;
$inputClr:#090909;
$tabsClr:#030303;

$normalSize: 16px;
$subTitleSize: 20px;
$homeSecTitleSize: 24px;
$headingSize: 28px;
$largeSize:40px;
$smallSize:14px;


$secPadding: 50px 0 55px 0;




//----- translate -----
$isRtl:ltr;
$left: left;
$right: right;
$flex-row:row;
$flex-reverse:row-reverse;

$bodyFont: ibm-regular;
$headingFont: ibm-bold;
$headingFontLight: ibm-medium;
$semiBold: ibm-semiBold;
$thin: ibm-thin;
$light: ibm-light;
$langFont:DroidKufi;

$angle-double: '\f101';
$r-arrow:'\f061';
$l-arrow:'\f060';

$rotate90: 90deg;



@if $isRtl == rtl
{
    $left: right;
    $right: left;
    $direction:rtl;
    $flex-row:row-reverse;
    $flex-reverse:row;

    $bodyFont: DroidKufi;
    $headingFont: DroidKufi;
    $headingFontLight: DroidKufi;
    $semiBold: DroidKufi;
    $thin: DroidKufi;
    $light: DroidKufi;
    $langFont:ibm-regular;

    $angle-double: '\f100';
    $r-arrow:'\f060';
    $l-arrow:'\f061';

    $rotate90: -90deg;
}
@else {
    $isRtl:ltr;
    $left: left;
    $right: right;
    $flex-row:row;
    $flex-reverse:row-reverse;

    $bodyFont: ibm-regular;
    $headingFont: ibm-bold;
    $headingFontLight: ibm-medium;
    $semiBold: ibm-semiBold;
    $thin: ibm-thin;
    $light: ibm-light;
    $langFont:DroidKufi;

    $angle-double: '\f101';
    $r-arrow:'\f061';
    $l-arrow:'\f060';

    $rotate90: 90deg;
}
